{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-4">
    <h5 class="card-header">Sobre mí</h5>
    <div class="card-body">
      <p class="card-text"> Mi nombre es Agustín, tengo 16 años, vivo en Uruguay. 
        Comenzé a adentrarme en el mundo de la programación a comienzos de este año,
        ya que desde hace mucho siento afecto por este mundo, hice varios cursos online
        dedicados al desarrollo web, cada vez me apasiona mas este mundo.
        Además de la programación me gusta mucho el gimnasio, muchas veces me ayuda a despejar la mente. </p>
      <a href="https://github.com/agusriv" class="btn btn-danger">Visita mi GitHub!</a>
      <a href="https://docs.djangoproject.com/en/3.1/" class="btn btn-secondary">Django Docs</a>
    </div>
  </div>
</div>

{% endblock sidebar %}